@import './variable';

.qr-category__item {
    box-shadow: 0px -1px 16px -3px #223c5033;
    border: solid 2px white;
    border-bottom-width: 6px;

    cursor: pointer;
    &:hover {
        border-color: $pr-color;
    }
}
