@import './variable';

.shape-item--selected {
    outline: solid 2px $pr-color;
}

.download-btn {
    background-color: $pr-color;
    color: white;
    border: solid 0.25rem transparent;
    transition: all 0.1s ease-in-out;
    &:hover {
        background-color: white;
        color: $pr-color;
        border: solid 0.25rem $pr-color;
    }
}
